* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', Helvetica ,'Roboto',Arial;
}

#header {
    position: fixed;
    z-index: 4;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    height: 51px;
    width: 100%;
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    display: inline-block;
}

#nav>li>a {
    line-height: 51px;
    padding: 0 24px;
    color: #fff;
    text-transform: uppercase;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
    display: inline-block;
    width: 100%;
}

.subnav li a {
    color:black;
    width: 100%;
    line-height: 38px;
    padding: 0 50px 0 16px;
}

#nav>li:hover>a {
    background-color: #BDBDBD;
    color: black;
    box-sizing: border-box;
    border-bottom: 5px solid #F44336;
    cursor: pointer;
}

.subnav>li:hover>a{
    background-color: #BDBDBD;
    color: black;
}

#nav>li:hover>.subnav {
    display: block;
}

#nav {
    display: inline-block;
}


#header .search-btn {
    position: absolute;
    top: 0;
    right: 0;
}



#header .search-btn .search-icon {
    font-weight: 500;
    color: #fff;
    line-height: 51px;
    padding: 0 16px;
}

#header .search-icon:hover .search-icon{
    color: black;
}

#header .search-icon:hover{
    border-bottom: 5px solid #F44336;
    color: black;
    background-color: #BDBDBD;
    cursor: pointer;
}

#header .search-icon{
    display: inline-block;
}

#header .search-box{
    animation: searchBox ease 0.7s ;
    display: none;
}

#header .search-btn:hover > .search-box{
    display: inline-block;
}

.search-input{
    font-size: 15px;
    border: 2px solid #ccc;
    padding: 5px 10px;
    border-radius: 15px;
}

#slider{
    z-index: -3;
    position: relative;
    margin-top: 46px;
    /* or this #adebfc */
    background: url(/asset/image/street.jpg) no-repeat top center / cover;
    padding-top: 50%;
}

#slider .text-content{
    position: absolute;
    width: 100%;
    bottom: 32px;
    color: #fff;
    text-align: center;
}

#slider .text-heading{
    margin: 10px;
}

#slider .text-discription{
    line-height: 30px;
}

#content .content-section{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px;
    text-align: justify;
    box-sizing: border-box;
}

#content .content-section .section-heading{
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

#content .content-section .section-sub-heading{
    color:rgb(147, 147, 147);
    margin: 25px;
    text-align: center;
    font-size: 15px;
}

#content .content-section .about-text{
    line-height: 1.4;
    font-size: 15px;
}

#content .team{
    margin-top: 60px;
    padding-bottom: 6px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content .team .member{
    text-align: center;
    display:inline-block;
}

.img{
    margin-top: 20px;
    width: 158px;
    height: 158px;
}

/* Tour section */
.tour-section{
    background: black;
}

/* 1 class cho những place cần white text */
.text-white{
    color: #fff !important;
}

.ticket{
    margin-top: 40px;
    align-items: center;
    background: white;
}

.ticket li{
    list-style-type: none;
    font-size: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #d8d8d8;
    color:#757575 !important;
}

.sold-out{
    padding: 3.5px 4.5px 3.5px 4.5px;
    margin-left: 20px;
    color: white;
    line-height: 40px;
    background: #F44336;
}

.quantity{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    width: 24px;
    height: 24px;
    padding: 4px 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: normal;
}

/* Place */
.place-lists{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.place-image{
    position: relative;
    z-index: 0;
    background-color: black !important;
    width: 245px;
    height: auto;
}

.place-image:hover{
    opacity: 0.6;
}

.place-item{
    margin-bottom: 40px;
    width: 245px;
    color: black;
}

.place-heading{
    padding-top: 10px;
}

.place-heading, .place-time{
    font-size: 15px;
    line-height: 35px;
}

.place-time{
    color:#757575 !important;
}

.place-descript{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    letter-spacing: 0.03px;
}

.place-body{
    margin-top: -5px;
    background-color: white;
    padding: 0 20px 20px 15px;
    line-height: 20px;
}

.place-button{
    font-size: 15px;
    width: 110px;
    height: 40px;
    background-color: black;
    color: white;
}

.place-button:hover{
    background-color: #BDBDBD;
    color: black;
    cursor: pointer;
}


.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    /* khi hien len can co display: flex */
    align-items: center;
    justify-content: center;
}
/* class open de hien len modal ticket */
.modal.open{
    display: flex;
}

.modal.close{
    animation: modalFadeOut ease 0.4s;
    display: none;
}

/* open modal ticket */

.modal-container{
    animation: modalFadeIn ease 0.5s;
    position: relative;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
}

.modal-header{
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: 400;
    padding: 12px;
}

.modal-close:hover{
    background-color: #ccc !important;
    color: #000 !important;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    margin-bottom: 12px;
    font-size: 15px;
    display: block;
}

.modal-input{
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

#buy-tickets{
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
    width: 100%;
    background-color: #009688;
    color: white;
}

#buy-tickets:hover{
    color: black !important;
    background: #ccc;
    cursor: pointer;
}

.modal-footer{
    font-size: 15px;
    display: flex;
    float: right;
    align-items: center;
    padding: 10px 20px 20px 10px;
}

.mt-8{
    margin-top: 8px !important;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col-third{
    width: 33.333333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.contact-content{
    margin-top: 40px;
}

.contact-info{
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.SEND{
    margin-top: 15px;
    color: white;
    background: black;
    float: right;
    padding: 13px 15px;
}

.last-part{
    font-weight: 500;
    text-align: center;
    color: #757575;
    font-size: 15px;
}

.linked{
    font-weight: 500;
    color: #757575;
}

.socials-list{
    margin-top: 30px;
    max-height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0 1px;
    color: #757575;
    text-decoration: none;
    font-size: 24px; 
}

@keyframes modalFadeIn {
    /* From co thuoc tinh CSS tao motion mo dau */
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    /* T */
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    /* From co thuoc tinh CSS tao motion mo dau */
    from {
        transform: translateY(0x);
        opacity: 1;
    }
    /* T */
    to{
        transform: translateY(-140px);
        opacity: 0;
    }
}

@keyframes searchBox {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

